/node_modules
/Data/Raw
/Data/Training
/Models
/__pycache__
*.pyc
.vscode
.DS_Store
Thumbs.db
*.log
*.tmp
*~
\#*#
.\#*
config.json
.env
AI Practice Generator.code-workspace
.vs/AI-Practice-Generator/v16/.suo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
